<IfModule mod_rewrite.c>
    Options +FollowSymLinks +Indexes
    RewriteEngine Off
</IfModule>

# Izinkan akses ke semua file di folder storage
<FilesMatch ".*">
    Order Allow,Deny
    Allow from all
</FilesMatch>
